@import "../../utils/colors.scss";

.pagination {
  display: flex;
  font-size: 20px;
  height: 100%;
  justify-content: center;
  margin: 20px 0;
}

.pagination-item {
  color: $c-blue-dark;
  cursor: pointer;
  height: 100%;
  padding: 7px 12px;
}

.pagination-item-acive {
  align-items: center;
  background-color: $c-blue-bright;
  border-radius: 4px;
  color: $c-white;
  display: flex;
  font-weight: 700;
  padding: 7px 12px;
}

.pagination li {
  list-style-type: none;
}

.pagination button {
  background-color: $c-white;
  border: none;
  color: $c-blue-dark;
  margin: 5px;
}