@import "../../utils/colors.scss";

input {
  border: 2px solid $c-grey-light;
  border-radius: 5px;
  color: $c-blue-dark;
  min-width: 135px;
  position: relative;
}

input:focus {
  border: 2.5px solid $c-blue;
}

.container {
  display: flex;
  flex-direction: column;
  height: 80px;
  min-width: 160px;
  width: 100%;
}

.input--small {
  font-size: 16px;
  font-weight: 400;
  height: 20px;
  margin: 5px;
  min-width: 55px;
  padding: 5px 30px;
}

.input--medium {
  display: flex;
  font-size: 18px;
  font-weight: 500;
  height: 76px;
  margin: 5px;
  padding: 10px 15px;
  min-width: 135px;
}

.input--large {
  display: flex;
  font-size: 18px;
  font-weight: 500;
  height: 76px;
  margin: 5px;
  padding: 15px 15px 50px
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}
