@import '../../utils/colors.scss';

.filter {
  background-color: $c-blue;
  color: $c-white;
  display: flex;
  flex-wrap: wrap;
  margin: -3px 0 140px;
}

.filter-dropdown-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.filter-panel {
  background-color: $c-white;
  border-radius: 8px;
  box-shadow: 1px 8px 30px 0 $c-grey-light;
  color: $c-blue-dark;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: -69px auto;
  padding: 18px 22px;
  width: 50%;
}

.filter-point {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 21%;
  min-width: 155px;
}

.filter-point-price {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 60%;

  input {
    background-color: #fff;
    border: none;
    margin: -10px 0 5px;
    text-align: center;
  }
}

.filter-point-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.filter-point-wrapper-item {
  min-width: 45%;
}

.filter-header {
  padding-bottom: 7vw;
  width: 100%;
}

.filter-banner {
  margin-left: 20vh;
}

.filter-title {
  display: flex;
  font-size: 18px;
  font-weight: 600;
  justify-content: center;
  margin-bottom: 5px;
  width: 100%;
}

.filter-wrapper {
  margin-left: auto;
  margin-right: 0;
}

@media (max-width: 1478px) {
  .filter {
    margin-bottom: 100px;
  }

  .filter-point,
  .filter-title {
    display: flex;
    justify-content: center;
  }

  .filter-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 60px;
  }

  .filter-panel {
    flex-wrap: wrap;
  }
}

@media (max-width: 1050px) {
  .filter-panel {
    flex-wrap: wrap;
    width: 80%;
  }

  .filter-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 60px;
  }

  .filter-banner {
    margin-left: 2vh;
  }
}

@media (max-width: 790px) {
  .filter-point {
    width: 35%;
  }
}

@media (max-width: 690px) {
  .filter-dropdown-wrapper {
    flex-direction: column;
  }

  .filter-point-wrapper {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .filter-dropdown-wrapper {
    align-items: center;
    max-width: 90%;
  }

  .filter-wrapper {
    margin: 0;
  }
}
