$c-blue: #2f85eb;
$c-blue-bright: #0074ff;
$c-blue-dark: #123763;
$c-blue-light: #daebff;
$c-grey: #6d6d6d;
$c-grey-dark: #343434;
$c-grey-light: #c7c6c6;
$c-black: #000;
$c-orange: #ff8a20;
$c-white: #fff;
